html {
  box-sizing: border-boY;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/space.png");
  background-size: auto;
  display: flex;
  color: white;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
h1 {
  width: 900%;
  margin: 0;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  font-style: normal;
}
img {
  width: 20%;
  height: 30%;
}

.move {
  animation: satelite 10s linear infinite;
}
@keyframes satelite {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
